.involveText {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  gap: 4px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  overflow: hidden;
}

.involveCard {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 8px;
  color: unset;
  padding: 8px;
  transition: border-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.involveLink {
  color: unset;
}

.involveLink:hover {
  text-decoration: unset;
}

.involveCard:hover {
  border-color: var(--ifm-pagination-nav-color-hover);
  color: var(--ifm-color-primary);
}

.involveWrapper {
  margin-top: 0 !important;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: none;
  gap: 16px;
  margin-bottom: 0;
  padding-left: 0;
}

@media (min-width: 480px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 711px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 997px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1260px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
