/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6264d8;
  --ifm-color-primary-dark: #494bd2;
  --ifm-color-primary-darker: #3c3fcf;
  --ifm-color-primary-darkest: #2c2eb0;
  --ifm-color-primary-light: #7b7dde;
  --ifm-color-primary-lighter: #8889e1;
  --ifm-color-primary-lightest: #adaeeb;
}

a {
  transition: none !important;
}

.navbar__items--right > :last-child {
  padding-left: 0;
}

.navbar__item > svg[class*='iconExternalLink_'] {
  display: none;
}

.navbar__items--right {
  gap: 8px;
}

.navbar__search {
  margin-left: 0 !important;
}

.header-social-link {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  padding: 0;
  width: 2rem;
}

.header-social-link:hover {
  color: var(--ifm-menu-color);
  opacity: 0.7;
}

.header-social-divider {
  height: 24px;
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid var(--ifm-toc-border-color);
  pointer-events: none;
  width: 1px;
}

@media (max-width: 996px) {
  .navbar__item {
    display: none !important;
  }

  .menu__list-item:has(.header-social-link):nth-last-child(-n + 4) {
    display: inline-block;
    margin-left: 8px;
    margin-top: 16px;
    width: max-content;
  }
  .menu__list-item:has(.header-social-link):nth-last-child(-n + 4) > a:hover {
    background: unset;
  }
  .menu__link > svg[class*='iconExternalLink_'] {
    display: none;
  }
  .header-social-divider {
    display: none;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.react-toggle {
  margin-right: 1rem;
}

figcaption {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.container {
  max-width: 90% !important;
  padding: 0 !important;
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.navbar {
  padding: 0 !important;
}

.main-wrapper,
.navbar__inner {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.navbar__inner {
  padding: 0 16px;
}

.theme-doc-sidebar-container,
.theme-doc-sidebar-container > div {
  width: 290px !important;
}

.menu {
  padding: 1.5rem 1rem !important;
}

.rework > .menu__link,
.rework > * > .menu__link {
  font-size: 14px;
}

.rework > * > .menu__link.menu__link--sublist-caret::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
  height: 0.75rem;
  width: 0.75rem;
}

.sidebar-section-title {
  align-items: center;
  color: var(--ifm-menu-color);
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  gap: 8px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.sidebar-section-title > span {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
}

.sidebar-section-title-wrapper {
  padding: 0 12px;
}

.sidebar-section-title-wrapper:not(:first-child) {
  margin-top: 32px;
}

.cols-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 0;
  padding-left: 20px;
}

@media (min-width: 480px) {
  .cols-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.investor-wrapper {
  margin-top: 0 !important;
  width: 100%;
}

.investor-name,
.investor-title {
  margin-bottom: 0;
  margin-top: 0 !important;
}

.investor-title {
  font-size: 14px;
}
